<!DOCTYPE html>
<head>
	
		<style>
	start {
		position: relative;
		animation-name: start;
		animation-duration: 2s;
	}
	start1{
		position: relative;
		animation-name: start1;
		animation-duration: 2s;
	}

	@keyframes start1{
		0%   {left:-500px; top:0px;}
		100% {left:0px; top:0px;}
	}
	start2{
		position: relative;
		animation-name: start2;
		animation-duration: 2s;
	}

	@keyframes start2 {
		0%   {left:800px; top:0px;}
		100% {left:0px; top:0px;}
	}
	start3{
		position: relative;
		animation-name: start3;
		animation-duration: 2s;
	}
	@keyframes start3 {
		0%   {left:0px; top:-1000px;}
		100% {left:0px; top:0px;}
	}
	start4{
		position: relative;
		animation-name: start4;
		animation-duration: 2s;
	}
	@keyframes start4 {
		0%   {left:0px; top:1000px;}
		100% {left:0px; top:0px;}
	}

	 @media only screen and (max-width: 12000px){		
	#t01{
		border: 2px solid gray;
		border-collapse: collapse;
		background-color: rgb(50, 50, 50);
		padding: 30px;

	}
	#t02{
		border: 2px solid gray;
		border-collapse: collapse;
		background-color: rgb(25, 25, 25);
		padding: 30px;
	}
	#Headback {
		height: 93px;
		background-color: rgb(10, 10, 10);
		overflow:hidden;
	}
        #Hiword {
		font-size:20px;
	}
        #Hipic{
		width:350px;
	}
	#Headword {
		padding: 14px 16px;
		position: relative;
		color: white;
		text-align: left;
		text-decoration: none;
		height: 50%;
	}	
	#Headword:hover {
		padding: 14px 16px;
		color: rgb(10, 10, 10);;
		text-align: left;
		background-color: rgb(180, 180, 180);
	}

	#Home {
		height: 500px;
		background-image:url('/Prepare_For_Review/picture/p1.jpg');
		background-repeat:no-repeat;
		background-size: 100% 100%;
		background-color: glay;
		background-position: center;
		color: white;
		padding: 80px;
		text-align: center;
	}
	#LastBack {
		background-color: rgb(35, 35, 35);
		color: white;
		padding: 5px;
		text-align: center;
	}
}
 @media only screen and (max-width: 1080px){		
	#t01{
		border: 2px solid gray;
		border-collapse: collapse;
		background-color: rgb(50, 50, 50);
		padding: 30px;

	}
	#t02{
		border: 2px solid gray;
		border-collapse: collapse;
		background-color: rgb(25, 25, 25);
		padding: 30px;
	}
	#Headback {
		height: 109px;
		background-color: rgb(10, 10, 10);
		overflow:hidden;
	}
        #Hiword {
		font-size:20px;
                text-align:left;
	}
        #Hipic{
		width:350px;
	}
	#Headword {
		padding: 14px 16px;
		position: relative;
		color: white;
		text-align: left;
		text-decoration: none;
		height: 50%;
	}	
	#Headword:hover {
		padding: 14px 16px;
		color: rgb(10, 10, 10);;
		text-align: left;
		background-color: rgb(180, 180, 180);
	}

	#Home {
		height: 500px;
		background-image:url('/Prepare_For_Review/picture/p1.jpg');
		background-repeat:no-repeat;
		background-size: 100% 100%;
		background-color: glay;
		background-position: center;
		color: white;
		padding: 80px;
		text-align: center;
	}
	#LastBack {
		background-color: rgb(35, 35, 35);
		color: white;
		padding: 5px;
		text-align: center;
	}
}
 @media only screen and (max-width: 800px){		
	#t01{
		border: 2px solid gray;
		border-collapse: collapse;
		background-color: rgb(50, 50, 50);
		padding: 30px;

	}
	#t02{
		border: 2px solid gray;
		border-collapse: collapse;
		background-color: rgb(25, 25, 25);
		padding: 30px;
	}
	#Headback {
		height: 125px;
		background-color: rgb(10, 10, 10);
		overflow:hidden;
	}
        #Hiword {
		font-size:20px;
                text-align:left;
	}
        #Hipic{
		width:250px;
	}
	#Headword {
		padding: 14px 16px;
		position: relative;
		color: white;
		text-align: left;
		text-decoration: none;
		height: 50%;
	}	
	#Headword:hover {
		padding: 14px 16px;
		color: rgb(10, 10, 10);;
		text-align: left;
		background-color: rgb(180, 180, 180);
	}

	#Home {
		height: 500px;
		background-image:url('/Prepare_For_Review/picture/p1.jpg');
		background-repeat:no-repeat;
		background-size: 100% 100%;
		background-color: glay;
		background-position: center;
		color: white;
		padding: 80px;
		text-align: center;
	}
	#LastBack {
		background-color: rgb(35, 35, 35);
		color: white;
		padding: 5px;
		text-align: center;
	}
}
@media only screen and (max-width: 600px){		
	#t01{
		border: 2px solid gray;
		border-collapse: collapse;
		background-color: rgb(50, 50, 50);
		padding: 30px;

	}
	#t02{
		border: 2px solid gray;
		border-collapse: collapse;
		background-color: rgb(25, 25, 25);
		padding: 30px;
	}
	#Headback {
		height: 141px;
		background-color: rgb(10, 10, 10);
		overflow:hidden;
	}
        #Hiword {
		font-size:10px;
                text-align:left;
	}
        #Hipic{
		width:200px;
	}
	#Headword {
		padding: 14px 16px;
		position: relative;
		color: white;
		text-align: left;
		text-decoration: none;
		height: 50%;
	}	
	#Headword:hover {
		padding: 14px 16px;
		color: rgb(10, 10, 10);;
		text-align: left;
		background-color: rgb(180, 180, 180);
	}

	#Home {
		height: 500px;
		background-image:url('/Prepare_For_Review/picture/p1.jpg');
		background-repeat:no-repeat;
		background-size: 100% 100%;
		background-color: glay;
		background-position: center;
		color: white;
		padding: 80px;
		text-align: center;
	}
	#LastBack {
		background-color: rgb(35, 35, 35);
		color: white;
		padding: 5px;
		text-align: center;
	}
}
	</style>
</head>
</html>
